spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:5432/meta_db
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show-sql: false      # 운영 환경에서는 보통 false로 설정
        format_sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      host: loopin-redis
      port: 6379
    mongodb:
      uri: mongodb://${MONGODB_USERNAME}:${MONGODB_PASSWORD}@loopin-mongodb:27017/meta_db?authSource=admin
      database: meta_db
  kafka:
    bootstrap-servers: loopin-redpanda:9092

app:
  cookie:
    secure: true
    domain: ".loopin.co.kr"

fcm:
  service-account-file: file:/home/ec2-user/deploy/fcm-service-account.json

openai:
  api:
    key: ${GPT_API_KEY}

logging:
  level:
    org.springframework.web: INFO
    com.loopin: INFO
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql: WARN

springdoc:
  server-url: https://api.loopin.co.kr

server:
  forward-headers-strategy: framework
